<% assign_meta_tags title: 'プロフィール編集'%>

<div class="main edit-profile">
  <div class="container edit-profile">
    <h1>プロフィール編集</h1>


      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>
        
        <div class="edit-form-body">
          <div class="edit-form-content userImg">
            <div class="edit-form-left">
              <div class="userImagePreview">
                <img id="userImgPrev" src="#" class='hidden' />
                <%= image_tag current_user.picture.url ,class: 'userPresentImg' %>
              </div>
            </div>
            <div class="edit-form-right">
              <span class="picture">
                <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png', id: 'post_img' %>
              </span>
            </div>
          </div>

          <div class="edit-form-content">
            <div class="edit-form-left">
              <h6>ユーザー名</h6>
            </div>
            <div class="edit-form-right">
              <%= f.input :username,
                          autofocus: true,
                          class: 'edit-profile-form',
                          :placeholder => "ユーザー名",
                          label: false %>
            </div>
          </div>

          <div class="edit-form-content">
            <div class="edit-form-left">
              <h6>メールアドレス</h6>
            </div>
            <div class="edit-form-right">
              <%= f.input :email, 
                          required: true, 
                          :placeholder => "メールアドレス",
                          label: false,
                          autofocus: true %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <div class="edit-form-content">
            <div class="edit-form-left">
              <h6>新しいパスワード</h6>
              <p>変更しない場合は空白のまま保存してください</p>
            </div>
            <div class="edit-form-right">
              <%= f.input :password,
                          required: false,
                          :placeholder => "パスワード",
                          label: false,
                          input_html: { autocomplete: "new-password" } %>
            </div>
          </div>

          <div class="edit-form-content">
            <div class="edit-form-left">
              <h6>新しいパスワード（確認用）</h6>
            </div>
            <div class="edit-form-right">
              <%= f.input :password_confirmation,
                          required: false,
                          :placeholder => "確認用パスワード",
                          label: false,
                          input_html: { autocomplete: "new-password" } %>
            </div>
          </div>

          <div class="edit-form-content">
            <div class="edit-form-left">
              <h6>現在のパスワード</h6>
              <p>入力して変更を保存してください</p>
            </div>
            <div class="edit-form-right">
              <%= f.input :current_password,
                          required: true,
                          :placeholder => "現在のパスワード",
                          label: false,
                          input_html: { autocomplete: "current-password" } %>
            </div>
          </div>


          <div class="form-actions rhetoric-edit">
            <%= f.button :submit, "変更を保存する" %>
          </div>

          <div class="delete-account">
            <p><%= link_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
          </div>

        </div>

      <% end %>
      
  </div>
</div>