<% assign_meta_tags title: '新規登録'%>

<div class="main registration">
  <div class="container">

    <div class="signup-signin-message">
      <h1 class="text-center">Quoteへようこそ</h1>
      <h4 class="text-center">アカウントを作成してあなたの好きな言葉を集めましょう</h4>
    </div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="form-body">
      <div class="form-inputs">
        <div class="form-inputs-text">
          <div class="form-box">
            <div class="form-outline">
              <div class="form-icon">
                <i class="fas fa-user fa-lg my-user"></i>
              </div>
              <%= f.input :username, 
                          autofocus: true,  
                          :placeholder => "ユーザー名",
                          label: false %>
            </div>
          </div>
          <div class="form-box">
            <div class="form-outline">
              <div class="form-icon">
                <i class="fas fa-envelope fa-lg my-email"></i>
              </div>
                <%= f.input :email,
                            required: true,
                            :placeholder => "メールアドレス",
                            label: false,
                            autofocus: true,
                            input_html: { autocomplete: "email" }%>
            </div>
          </div>
          <div class="form-box">
            <div class="form-outline">
              <div class="form-icon">
                <i class="fas fa-key fa-lg my-password"></i>
              </div>
              <%= f.input :password,
                          required: true,
                          :placeholder => "パスワード（6文字以上）",
                          label: false,
                          input_html: { autocomplete: "new-password" } %>
            </div>
          </div>
          <div class="form-box">
            <div class="form-outline">
              <div class="form-icon">
                <i class="fas fa-key fa-lg my-password"></i>
              </div>
              <%= f.input :password_confirmation,
                          required: true,
                          :placeholder => "確認用パスワード",
                          label: false,
                          input_html: { autocomplete: "new-password" } %>
            <div>
          </div>
        </div>
      </div>

        </div>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "アカウントを作成する" %>
      </div>

      <% end %>
      <div class="signin-with-twitter">
        <%= render "devise/shared/links" %>
      </div>

    </div>

  </div>

</div>