<div class="main-user-show">
  <div class="container">
    <div class="row">
      <div class="col-xs-10">

        <div class="user-show-user-image">
          <%= image_tag @user.picture.url %>
        </div>

        <div class="user-show-user-name">
          <p><%= @user.username %></p>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-xs-10">
        <div class="user-show-tab">

          <div class="tab-like">
            <p>いいねした言葉</p>
          </div>
          
          <div class="tab-follow">
          <section class="stats">
            <%= render 'devise/shared/stats' %>
          </section>
          <section>
            <%= render 'devise/shared/follow_form' if user_signed_in? %>
          </section>

          <%= link_to "編集", edit_user_registration_path %>

        </div>
      </div>
    </div>
  </div>
</div>