<% assign_meta_tags title: @user.username %>

<header>
  <div class="header">
    <div class="header-left">
      <%= link_to root_path do %>
      <div class="header-logo">
        <%= image_tag "logo_symbol.png" %>
      </div>
      <% end %>
    </div>

    <div class="header-userName">
      <div class="userName">
        <%= @user.username %>
      </div>
    </div>    

    <li>
      <div class="navToggle">
        <span></span><span></span><span></span>
      </div>
    </li>

    <nav class="globalMenuSp">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to edit_user_registration_path do %><div class="globalMenuList"><p>アカウント設定</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><div class="globalMenuList"><p>ログアウト</p></div><% end %></li>
        <% else %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to new_user_registration_path do %><div class="globalMenuList"><p>アカウント作成</p></div><% end %></li>
          <li><%= link_to new_user_session_path do %><div class="globalMenuList"><p>ログイン</p></div><% end %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>


<div class="main user-show">

  <div class="container profile">
    <div class="profile-area">
      <div class="profile-image">
        <%= image_tag @user.picture.url %>
      </div>
      <div class="profile-name">
        <p><%= @user.username %></p>
      </div>
    </div>
    <div class="profile-followbtn">
      <%= render 'devise/shared/follow_form' if user_signed_in? %>
    </div>

  </div>


  <div class="container-tabs">
    <%= link_to "#liked", class: "tab liked" do %><div class="profile-tab">いいねした言葉</div><% end %>
    <%= link_to "#post", class: "tab post" do %><div class="profile-tab">投稿した言葉</div><% end %>
    <%= link_to "#follow" , class: "tab follow" do%><div class="profile-tab" id="follow_count">フォロー&emsp;<%= @user.following.count %></div><% end %>
    <%= link_to "#follower", class: "tab follower" do %><div class="profile-tab" id="follower_count">フォロワー&emsp;<%= @user.followers.count %></div><% end %>
  </div>

  <div class="container profile-contents">
    <div class="profile-contents-index" id="liked">
      <div id="masonry-container">
      <% @picks.each do |pick| %>
        <% rhetoric = Rhetoric.find_by(id: pick.rhetoric_id) %>
        <div class="mas-box rheotorics-index-grid">
          <div class="rhetoric-index-container">
            <div class="rhetoric-index-img" id="result">
              <%= link_to rhetoric do %>
              <div class="rhetoric-container">
                <% if rhetoric.picture? %>
                <div class="rhetoric-picture index">
                  <%= image_tag rhetoric.picture.url %>
                </div>
                <% end %>
                <div class="rhetoric-meigen">
                  <%= rhetoric.meigen %>
                </div></br>
                <div class="rhetoric-speaker">
                  <%= rhetoric.speaker %>
                </div>
              </div>
              <% end %>
            </div>

            <div class="btn-area-like-index">
              <div class="picks_buttons_index_<%= rhetoric.id %>">
                <span class="pick">
                  <div class="count-like index">
                    <%= rhetoric.picks_count %>
                  </div>
                  <% if rhetoric.pick?(current_user) %>
                    <%= form_for(rhetoric.picks.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
                      <%= button_tag(class: "btn-liked-index") do %>
                        <%= content_tag :span, "", class: "fas fa-heart my-liked-index fa-lg" %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= form_for(rhetoric.picks.build, remote: true) do |f| %>
                      <div><%= hidden_field_tag :rhetoric_id, rhetoric.id %></div>
                      <%= button_tag(class: "btn-like-index") do %>
                        <%= content_tag :span, "", class: "far fa-heart my-like-index fa-lg modal-show" %>
                      <% end %>
                    <% end %>
                  <% end %>

                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
    <div class="profile-contents-index" id="post">
        <div id="masonry-container">
        <% @user.posts.each do |post| %>
          <div class="mas-box rheotorics-index-grid">
            <div class="rhetoric-index-container">
              <div class="rhetoric-index-img" id="result">
                <%= link_to post do %>
                <div class="rhetoric-container">
                  <% if post.picture? %>
                  <div class="rhetoric-picture index">
                    <%= image_tag post.picture.url %>
                  </div>
                  <% end %>
                  <div class="rhetoric-meigen">
                    <%= post.meigen %>
                  </div></br>
                  <div class="rhetoric-speaker">
                    <%= post.speaker %>
                  </div>
                </div>
                <% end %>
              </div>

              <div class="btn-area-like-index">
                <div class="picks_buttons_index_<%= post.id %>">
                  <span class="pick">
                    <div class="count-like index">
                      <%= post.picks_count %>
                    </div>
                    <% if post.pick?(current_user) %>
                      <%= form_for(post.picks.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
                        <%= button_tag(class: "btn-liked-index") do %>
                          <%= content_tag :span, "", class: "fas fa-heart my-liked-index fa-lg" %>
                        <% end %>
                      <% end %>
                    <% else %>
                      <%= form_for(post.picks.build, remote: true) do |f| %>
                        <div><%= hidden_field_tag :rhetoric_id, post.id %></div>
                        <%= button_tag(class: "btn-like-index") do %>
                          <%= content_tag :span, "", class: "far fa-heart my-like-index fa-lg modal-show" %>
                        <% end %>
                      <% end %>
                    <% end %>

                  </span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
    </div>
    <div class="profile-contents-index" id="follow">
      <% if @follow_users.any? %>
        <% @follow_users.each do |user| %>
          <%= link_to profile_path(user) do %>
          <div class="follow-user">
            <div class="follow-user-left">
              <div class="follow-user-image">
                <%= image_tag current_user.picture.url %>
              </div>
            </div>
            <div class="follow-user-right">
              <div class="follow-user-name">
                <%= user.username %>
              </div>
            </div>
          </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div class="profile-contents-index" id="follower">
      <%= render 'show_follower' %>
  </div>

</div>
          <div class="tab-follow">
        </div>
      </div>
    </div>
  </div>
</div>
</div>