<% assign_meta_tags title: @user.username %>

<header>
  <div class="header">
    <div class="header-left">
      <%= link_to root_path do %>
      <div class="header-logo">
        <%= image_tag "logo_symbol.png" %>
      </div>
      <% end %>
    </div>

    <div class="header-userName">
      <div class="userName">
        <%= @user.username %>
      </div>
    </div>    

    <li>
      <div class="header-profile">
        <% if user_signed_in? %>
        <%= link_to profile_path(current_user) do %>
          <div class="header-profile-img">
            <%= image_tag current_user.picture.url %>
          </div>
        <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <div class="header-profile-img">
              <%= image_tag ('default.png') %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="navToggle">
        <span></span><span></span><span></span>
      </div>
    </li>

    <nav class="globalMenuSp">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to edit_user_registration_path do %><div class="globalMenuList"><p>アカウント設定</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><div class="globalMenuList"><p>ログアウト</p></div><% end %></li>
        <% else %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to new_user_registration_path do %><div class="globalMenuList"><p>アカウント作成</p></div><% end %></li>
          <li><%= link_to new_user_session_path do %><div class="globalMenuList"><p>ログイン</p></div><% end %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>


<div class="background bg-grey">
  <section class="user-profile">
    <div class="user-profile-container">
      <div class="user-profile-image">
        <%= image_tag @user.picture.url %>
      </div>
      <div class="user-profile-name">
        <p><%= @user.username %></p>
      </div>
      <div class="profile-tab-container">
        <%= link_to "#post", class: "profile-tab post" do %><div class="profile-tab-item">投稿</div><% end %>
        <%= link_to "#liked", class: "profile-tab liked" do %><div class="profile-tab-item">いいね</div><% end %>
      </div>
    </div>
  </section>

  <section class="user-contents">
    <div class="profile-tab-contents">
      <div class="profile-contents-index" id="post">
        <div id="masonry-container">
          <% @user.posts.each do |post| %>
            <div class="masonry-item">
              <div class="index-quote-container">
                <div class="quote-container" id="result">
                  <%= link_to post do %>
                    <% if post.picture? %>
                    <div class="quote-container-picture">
                      <%= image_tag post.picture.url %>
                    </div>
                    <% end %>
                    <div class="quote-container-meigen">
                      <%= post.meigen %>
                    </div>
                  <% end %>
                  
                  <div class="quote-container-bottom">
                    <div class="quote-container-speaker">
                      <%= post.speaker %>
                    </div>
                    <div class="btn-area-like-index">
                      <div class="picks_buttons_index_<%= post.id %>">
                        <span class="pick">
                          <% if post.pick?(current_user) %>
                            <%= form_for(post.picks.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
                              <%= button_tag(class: "btn-liked-index") do %>
                                <%= image_tag "liked.png" %>
                              <% end %>
                            <% end %>
                          <% else %>
                            <%= form_for(post.picks.build, remote: true) do |f| %>
                              <div><%= hidden_field_tag :rhetoric_id, post.id %></div>
                              <%= button_tag(class: "btn-like-index") do %>
                                <%= image_tag "like.png" %>
                              <% end %>
                            <% end %>
                          <% end %>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="profile-contents-index" id="liked">
        <div id="masonry-container">
        <% @picks.each do |pick| %>
          <% rhetoric = Rhetoric.find_by(id: pick.rhetoric_id) %>
          <div class="masonry-item">
            <div class="index-quote-container">
              <div class="quote-container" id="result">
                <%= link_to rhetoric do %>
                  <% if rhetoric.picture? %>
                  <div class="quote-container-picture">
                    <%= image_tag rhetoric.picture.url %>
                  </div>
                  <% end %>
                  <div class="quote-container-meigen">
                    <%= rhetoric.meigen %>
                  </div>
                <% end %>
                <div class="quote-container-bottom">
                  <div class="quote-container-speaker">
                    <%= rhetoric.speaker %>
                  </div>
                  <div class="btn-area-like-index">
                    <div class="picks_buttons_index_<%= rhetoric.id %>">
                      <span class="pick">
                        <% if rhetoric.pick?(current_user) %>
                          <%= form_for(rhetoric.picks.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
                            <%= button_tag(class: "btn-liked-index") do %>
                              <%= image_tag "liked.png" %>
                            <% end %>
                          <% end %>
                        <% else %>
                          <%= form_for(rhetoric.picks.build, remote: true) do |f| %>
                            <div><%= hidden_field_tag :rhetoric_id, rhetoric.id %></div>
                            <%= button_tag(class: "btn-like-index") do %>
                              <%= image_tag "like.png" %>
                            <% end %>
                          <% end %>
                        <% end %>

                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </section>
</div>