
<%= form_for(@rhetoric) do |f| %>
  <div class="form-body">
    <div class="rhetoric-container new">
      <div class="form-inputs picture">
        <div onClick="$('#post_img').click()" ><img id="rhetoricImgPrev" src="#" class='hidden' /></div>
        <div onClick="$('#post_img').click()" ><%= image_tag 'NoImage.png' ,class: 'rhetoricPresentImg' %></div>
        <%= f.file_field :picture, id: 'post_img', style: "display:none;" %>
      </div>

      <div class="form-inputs rhetoric">
        <div class="textarea-outline new">
          <%= f.text_area :meigen, class: 'textareaHeight1', placeholder: '例 : 我思う、故に我あり' %>
        </div>
      </div>

      <div class="form-inputs speaker">
        <div class="form-outline new">
          <%= f.text_field :speaker, placeholder: '例 : デカルト' %>
        </div>
      </div>
    </div>

    <div class="rhetoric-contents new">
      <div class="form-inputs discription">
        <div class="textarea-outline discription">
          <%= f.text_area :description, class: 'textareaHeight2', placeholder: '例 : デカルトが仏語の自著『方法序説』（Discours de la méthode）の中で提唱した有名な命題である。私はこの言葉がとても好きだ。（出典 : デカルト『方法序説』）' %>
        </div>
      </div>

      <div class="form-inputs tag">
        <p>タグを必ず追加してください（複数のタグは「,」カンマで区切ります）</p>
        <div class="form-outline new">
          <%= f.text_field :tag_list, placeholder: '例 : デカルト,哲学,方法序説', value: @rhetoric.tag_list.join(',') %>
        </div>
      </div>
    </div>
    
    <div class="form-actions">
      <%= f.submit '投稿' %>
    </div>
  </div>
<% end %>
