
<%= form_for(@rhetoric) do |f| %>
  <div class="form-body">
  
    <div class="form-inputs rhetoric">
      <strong>言葉（ここが画像になります）</strong>
      <div class="textarea-outline">
        <%= f.text_area :meigen, placeholder: '例 : 夢はもう見ないのかい? 明日が怖いのかい? 諦めはついたかい? 馬鹿みたいに空がキレイだぜ' %>
      </div>
    </div>

    <div class="form-inputs speaker">
      <strong>この言葉を言った人の名前</strong>
      <div class="form-outline">
        <%= f.text_field :speaker, placeholder: '例 : 林 萌々子' %>
      </div>
    </div>

    <div class="form-inputs source">
      <strong>出典などの説明</strong>
      <div class="textarea-outline">
        <%= f.text_area :description, placeholder: '例 : 出典 : 林 萌々子『拝啓、少年よ』' %>
      </div>
    </div>

    <div class="form-inputs tag">
      <strong>ハッシュタグを追加してください</strong>
      <div class="form-outline">
        <%= f.text_field :tag_list, placeholder: '例 : Hump Back, 拝啓、少年よ, ロック, バンド, 歌詞', value: @rhetoric.tag_list.join(',') %>
      </div>
    </div>
    
    <div class="form-actions">
      <%= f.submit '言葉を追加' %>
    </div>
  </div>
<% end %>
