<% assign_meta_tags title: 'Quoteを編集する'%>

<header>
  <div class="header">
    <div class="header-left">
      <%= link_to root_path do %>
      <div class="header-logo">
        <%= image_tag "logo_symbol.png" %>
      </div>
      <% end %>
    </div>

    <li>
      <div class="navToggle">
        <span></span><span></span><span></span>
      </div>
    </li>

    <nav class="globalMenuSp">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to edit_user_registration_path do %><div class="globalMenuList"><p>アカウント設定</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><div class="globalMenuList"><p>ログアウト</p></div><% end %></li>
        <% else %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to new_user_registration_path do %><div class="globalMenuList"><p>アカウント作成</p></div><% end %></li>
          <li><%= link_to new_user_session_path do %><div class="globalMenuList"><p>ログイン</p></div><% end %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="main edit-rhetoric">
  <div class="container rhetorics-new">
    <%= form_for(@rhetoric) do |f| %>
    <div class="form-body">
      <div class="rhetoric-container new">
        <div class="form-inputs picture">
          <div onClick="$('#post_img').click()" ><img id="rhetoricImgPrev" src="#" class='hidden' /></div>
          <div onClick="$('#post_img').click()" ><%= image_tag @rhetoric.picture.url ,class: 'rhetoricPresentImg' %></div>
          <%= f.file_field :picture, id: 'post_img', style: "display:none;" %>
        </div>
        
        <div class="form-inputs rhetoric">
          <div class="textarea-outline new">
            <%= f.text_area :meigen, class: 'textareaHeight1',placeholder: '例 : 我思う、故に割あり' %>
          </div>
        </div>

        <div class="form-inputs speaker">
          <div class="form-outline new">
            <%= f.text_field :speaker, placeholder: '例 : デカルト' %>
          </div>
        </div>
      </div>

      <div class="rhetoric-contents new">
        <div class="form-inputs discription">
          <div class="textarea-outline discription">
            <%= f.text_area :description, class: 'textareaHeight2', placeholder: '例 : デカルトが仏語の自著『方法序説』（Discours de la méthode）の中で提唱した有名な命題である。私はこの言葉がとても好きだ。（出典 : デカルト『方法序説』）' %>
          </div>
        </div>

        <div class="form-inputs tag">
          <p>タグを必ず追加してください（複数のタグは「,」カンマで区切ります）</p>
          <div class="form-outline">
            <%= f.text_field :tag_list , placeholder: '例 : デカルト,哲学,方法序説', value: @rhetoric.tag_list.join(',') %>
          </div>
        </div>
      </div>

      <div class="form-actions">
        <%= f.submit '編集を保存' %>
      </div>
    </div>
    <% end %>
  </div>
</div>

