<% assign_meta_tags title: ''%>

<header>
  <div class="header">
    <div class="header-left">
      <%= link_to root_path do %>
      <div class="header-logo">
        <%= image_tag "logo_symbol.png" %>
      </div>
      <% end %>
    </div>

    <div class="header-search">
      <div class="search-icon">
        <%= image_tag "search.png" %>
      </div>

      <div class="search-input" id="#search-form">
        <%= search_form_for @q, url: rhetorics_path  do |f| %>
          <%= f.search_field :meigen_or_tags_name_cont, placeholder: '検索', autocomplete: 'off' %>
          <%= f.submit '検索' %>
          <% end %>
      </div>
    </div>    

    <li>
      <div class="header-profile">
        <% if user_signed_in? %>
        <%= link_to profile_path(current_user) do %>
          <div class="header-profile-img">
            <%= image_tag current_user.picture.url %>
          </div>
        <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <div class="header-profile-img">
              <%= image_tag ('default.png') %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="navToggle">
        <span></span><span></span><span></span>
      </div>
    </li>

    <nav class="globalMenuSp">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to edit_user_registration_path do %><div class="globalMenuList"><p>アカウント設定</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><div class="globalMenuList"><p>ログアウト</p></div><% end %></li>
        <% else %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to new_user_registration_path do %><div class="globalMenuList"><p>アカウント作成</p></div><% end %></li>
          <li><%= link_to new_user_session_path do %><div class="globalMenuList"><p>ログイン</p></div><% end %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="main rhetorics-index">
  <div id="masonry-container">

    <% @rhetorics.each do |rhetoric| %>
      <div class="mas-box rheotorics-index-grid">
        <div class="rhetoric-index-container">

          <div class="rhetoric-index-img" id="result">
            <div class="rhetoric-container index">
              <%= link_to rhetoric do %>
              <% if rhetoric.picture? %>
              <div class="rhetoric-picture index">
                <%= image_tag rhetoric.picture.url %>
              </div>
              <% end %>

              <div class="rhetoric-meigen index">
                <%= rhetoric.meigen %>
              </div><br>
              <% end %>

              <div class="rhetoric-bottom index">
                <div class="rhetoric-speaker index">
                  <%= rhetoric.speaker %>
                </div>
                <div class="btn-area-like-index">
                  <div class="picks_buttons_index_<%= rhetoric.id %> indexPick">
                    <span class="pick">
                      <% if rhetoric.pick?(current_user) %>
                        <%= form_for(rhetoric.picks.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
                          <%= button_tag(class: "btn-liked-index") do %>
                            <%= image_tag "liked.png" %>
                          <% end %>
                        <% end %>
                      <% else %>
                      <%= form_for(rhetoric.picks.build, remote: true) do |f| %>
                        <div><%= hidden_field_tag :rhetoric_id, rhetoric.id %></div>
                          <%= button_tag(class: "btn-like-index") do %>
                            <%= image_tag "like.png" %>
                          <% end %>
                        <% end %>
                      <% end %>
                    </span>
                  </div>
                </div>
              </div>
              
            </div>
          </div>

          
        </div>
      </div>
    <% end %>

  </div>
  <div class="page-load-status">
    <p class="infinite-scroll-request">
      <i class="fa fa-spinner fa-spin"></i>Loading...
      <br>
      <%= paginate @rhetorics %>
    </p>
    <p class="infinite-scroll-last">End of content</p>
    <p class="infinite-scroll-error">No more pages to load</p>
  </div>


</div>

<%= link_to new_rhetoric_path do %>
<div class="rhetoric-new-btn">
  <%= image_tag ('new_btn.png') %>
</div>
<% end %>