<div id="rhetoric-search-result"></div>
<div class="main rhetorics-index">
  <div class="container rhetorics-index ">

    <div class="jscroll">

    <% @rhetorics.each do |rhetoric| %>
      <div class="rheotorics-index-grid">
        <div class="rhetoric-index-content">

          <div class="rhetoric-index-img" id="result">
           <%= link_to image_tag(image_path(rhetoric.image)), rhetoric %>
          </div>

          <div class="btn-area-like-index">
            <div class="picks_buttons_index_<%= rhetoric.id %>">
              <span class="pick">

                <% if rhetoric.pick?(current_user) %>
                  <%= form_for(rhetoric.picks.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
                    <%= button_tag(class: "btn-liked-index") do %>
                      <%= content_tag :span, "", class: "fas fa-heart my-liked-index fa-lg" %>
                    <% end %>
                  <% end %>
                <% else %>
                  <%= form_for(rhetoric.picks.build, remote: true) do |f| %>
                    <div><%= hidden_field_tag :rhetoric_id, rhetoric.id %></div>
                    <%= button_tag(class: "btn-like-index") do %>
                      <%= content_tag :span, "", class: "far fa-heart my-like-index fa-lg" %>
                    <% end %>
                  <% end %>
                <% end %>

              </span>
            </div>
          </div>
        </div>
      </div>
    <% end %>
      <%= paginate @rhetorics %>
    </div>


  </div>
</div>