<div class="main-rhetorics-index">
  <div class="container rhetorics-index">
    <div class="row rhetorics-index">

    <% @rhetorics.each do |rhetoric| %>
      <div class="col-xs-3 padding-margin-for-col">
        <div class="rhetoric-index-content">
          <div class="rhetoric-index-img" id="result">
            <%= link_to image_tag(image_path(rhetoric.image)), rhetoric %>

            <div class="btn-area-like">
              <div class="count-like">
                <div class="picks_buttons_index_<%= rhetoric.id %>">
                  <span class="pick">
                    <% if rhetoric.pick?(current_user) %>
                      <%= form_for(rhetoric.picks.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
                        <%= button_tag(class: "btn-liked") do %>
                          <%= content_tag :span, "", class: "fas fa-heart my-liked fa-lg" %>
                        <% end %>
                      <% end %>
                      <div class="message-like">
                        <h6 class="liked-message">いいねしました</h6>
                      </div>
                    <% else %>
                      <%= form_for(rhetoric.picks.build, remote: true) do |f| %>
                        <div><%= hidden_field_tag :rhetoric_id, rhetoric.id %></div>
                        <%= button_tag(class: "btn-like") do %>
                          <%= content_tag :span, "", class: "far fa-heart my-like fa-lg" %>
                        <% end %>
                      <% end %>
                      <div class="message-like">
                        <h6 class="like-message">いいね</h6>
                      </div>

                    <% end %>

                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="rhetoric-index-like">
            
          </div>
          
        </div>
      </div>
    <% end %>

    </div>
  </div>
</div>