<% assign_meta_tags title: @rhetoric.meigen,
                    description: @rhetoric.description,
                    keywords: @rhetoric.tag_list,
                    image: {_: image_path(@rhetoric.image), width: 1200, height: 630}%>

<header>
  <div class="header">
    <div class="header-left">
      <%= link_to root_path do %>
      <div class="header-logo">
        <%= image_tag "logo_symbol.png" %>
      </div>
      <% end %>
    </div>

    <div class="header-search">
      <div class="search-icon">
        <%= image_tag "search.png" %>
      </div>

      <div class="search-input" id="#search-form">
        <%= search_form_for @q, url: rhetorics_path  do |f| %>
          <%= f.search_field :meigen_or_tags_name_cont, placeholder: '検索', autocomplete: 'off' %>
          <%= f.submit '検索' %>
          <% end %>
      </div>
    </div>    

    <li>
      <div class="header-profile">
        <% if user_signed_in? %>
        <%= link_to profile_path(current_user) do %>
          <div class="header-profile-img">
            <%= image_tag current_user.picture.url %>
          </div>
        <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <div class="header-profile-img">
              <%= image_tag ('default.png') %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="navToggle">
        <span></span><span></span><span></span>
      </div>
    </li>

    <nav class="globalMenuSp">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to edit_user_registration_path do %><div class="globalMenuList"><p>アカウント設定</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><div class="globalMenuList"><p>ログアウト</p></div><% end %></li>
        <% else %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to new_user_registration_path do %><div class="globalMenuList"><p>アカウント作成</p></div><% end %></li>
          <li><%= link_to new_user_session_path do %><div class="globalMenuList"><p>ログイン</p></div><% end %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
                    

<div class="background bg-grey">
  <section class="show-quote">
    <div class="show-quote-container">
      <div class="show-quote-container-grid">
        <div class="quote-container">
          <% if @rhetoric.picture? %>
          <div class="quote-container-picture">
            <%= image_tag @rhetoric.picture.url %>
          </div>
          <% end %>
          <div class="quote-container-meigen">
            <%= @rhetoric.meigen %>
          </div>
          <div class="quote-container-bottom">
            <div class="quote-container-speaker">
              <%= @rhetoric.speaker %>
            </div>
            <div class="picks_buttons_<%= @rhetoric.id %>">
              <%= render "picks/pick", rhetoric: @rhetoric %>
            </div>
          </div>
        </div>
      </div>

      <div class="show-quote-item-grid">
        <div class="show-quote-item rhetoric-contents">
          <div class="show-quote-item">
            <div class="show-quote-item-discription">
              <p><%= @rhetoric.description %></p>
            </div>
            <div class="show-quote-item-tag-container">
              <td><%= render 'rhetorics/tag_list', tag_list: @rhetoric.tag_list %></td>
            </div>
            <%= link_to profile_path(@rhetoric.user.id) do %>
            <div class="show-quote-item-user">
              <div class="show-quote-item-user-image">
                <%= image_tag @rhetoric.user.picture.url %>
              </div>
              <div class="show-quote-item-user-name">
                <%= @rhetoric.user.username %>
              </div>
              <% if @rhetoric.user == current_user %>
              <div class="edit-and-delete-quote">
                <%= link_to "編集する", edit_rhetoric_path %>
                <%= link_to "削除する", rhetoric_path, method: :delete, data: {confirm: "Are you sure??"} %>
              </div>
              <% end %>
            </div>
            <% end %>
          </div>
          <div class="show-quote-item-cv">
          </div>
          <div class="show-quote-item-cv-share">
            <%= link_to "https://twitter.com/share?url=https://quote-by.me/rhetorics/#{@rhetoric.id}&text=Quote｜みんなの名言集" do %>
              <div class="btn-share">
                <div class="btn-share-img">
                  <%= image_tag "twitter.png" %>
                </div>
                <div class="btn-share-text">
                  <h6>ツイートする</h6>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </section>
  
  <section class="index-quote">
    <h2 class="related-title">
      関連する言葉
    </h2>

    <div class="container-related-index">
      <div id="masonry-container">
        <% @related_rhetorics.each do |rhetoric| %>
          <div class="mas-box rheotorics-grid">
            <div class="rhetoric-index-container">
              <div class="rhetoric-index-img" id="result">
                  <div class="rhetoric-container index">
                    <%= link_to rhetoric do %>
                    <% if rhetoric.picture? %>
                      <%= image_tag rhetoric.picture.url %>
                    <% end %>

                    <div class="rhetoric-meigen index">
                      <%= rhetoric.meigen %>
                    </div></br>
                    <% end %>

                    <div class="rhetoric-bottom index">
                      <div class="rhetoric-speaker index">
                        <%= rhetoric.speaker %>
                      </div>
                      <div class="btn-area-like-index">
                        <div class="picks_buttons_index_<%= rhetoric.id %> indexPick">
                          <span class="pick">
                            
                            <% if rhetoric.pick?(current_user) %>
                              <%= form_for(rhetoric.picks.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
                                <%= button_tag(class: "btn-liked-index") do %>
                                  <%= image_tag "liked.png" %>
                                <% end %>
                              <% end %>
                            <% else %>
                              <%= form_for(rhetoric.picks.build, remote: true) do |f| %>
                                <div><%= hidden_field_tag :rhetoric_id, rhetoric.id %></div>
                                <%= button_tag(class: "btn-like-index") do %>
                                  <%= image_tag "like.png" %>
                                <% end %> 
                              <% end %>
                            <% end %>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                
              </div>

              
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>
    
</div>

<%= link_to new_rhetoric_path do %>
<div class="rhetoric-new-btn">
  <%= image_tag ('new_btn.png') %>
</div>
<% end %>