<% assign_meta_tags title: @rhetoric.meigen,
                    description: @rhetoric.description,
                    keywords: @rhetoric.tag_list,
                    image: {_: image_path(@rhetoric.image), width: 1200, height: 630}%>

<header>
  <div class="header">
    <div class="header-left">
      <%= link_to root_path do %>
      <div class="header-logo">
        <%= image_tag "logo_symbol.png" %>
      </div>
      <% end %>
    </div>

    <div class="header-search">
      <div class="search-icon">
        <i class="fa fa-search fa-lg my-search"></i>
      </div>

      <div class="search-input" id="#search-form">
        <%= search_form_for @q, url: rhetorics_path  do |f| %>
          <%= f.search_field :meigen_or_tags_name_cont, placeholder: '検索' %>
          <%= f.submit '検索' %>
          <% end %>
      </div>
    </div>    

    <li>
      <div class="navToggle">
        <span></span><span></span><span></span>
      </div>
    </li>

    <nav class="globalMenuSp">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to edit_user_registration_path do %><div class="globalMenuList"><p>アカウント設定</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><div class="globalMenuList"><p>ログアウト</p></div><% end %></li>
        <% else %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to new_user_registration_path do %><div class="globalMenuList"><p>アカウント作成</p></div><% end %></li>
          <li><%= link_to new_user_session_path do %><div class="globalMenuList"><p>ログイン</p></div><% end %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
                    

<div class="main rhetorics-show">
<%= link_to :back do %>
  <div class="btn-back">
    <i class="fas fa-arrow-left my-back fa-lg"></i>
  </div>
<% end %>

  <div class="container rhetorics-show">
    <div class="rhetorics-show-grid">
      <div class="rhetoric-container show">

        <% if @rhetoric.picture? %>
        <div class="rhetoric-picture">
          <%= image_tag @rhetoric.picture.url %>
        </div>
        <% end %>

        <div class="rhetoric-meigen show">
          <%= @rhetoric.meigen %>
        </div></br>
        <div class="rhetoric-speaker show">
          <%= @rhetoric.speaker %>
        </div>
      </div>
    
      <div class="rhetoric-contents">
        <div class="share-like-area">
          <div class="btn-area">
            
            <div class="btn-area-share">
              <div class="count-share">
              </div>
              <%= link_to "https://twitter.com/share?url=https://quote-by.me/rhetorics/#{@rhetoric.id}&text=Quote｜みんなの名言集" do %>
                <div class="btn-twitter">
                  <i class="fab fa-twitter my-twitter fa-lg"></i>
                </div>
              <% end %>
              <div class="message-share">
                <h6>共有する</h6>
              </div>
            </div>
            <div class="btn-area-like">
              <div class="picks_buttons_<%= @rhetoric.id %>">
                <%= render "picks/pick", rhetoric: @rhetoric %>
              </div>
            </div>
          </div>
        </div>

        <div class="detail">
          <%= link_to profile_path(@rhetoric.user.id) do %>
          <div class="post-user">
            <div class="post-user-image">
              <%= image_tag @rhetoric.user.picture.url %>
            </div>
            <div class="post-user-name">
              <%= @rhetoric.user.username %>
            </div>
          </div>
          <% end %>
          <div class="rhetoric-discription">
            <p><%= @rhetoric.description %></p>
          </div>
          <div class="rhetoric-tag">
            <td><%= render 'rhetorics/tag_list', tag_list: @rhetoric.tag_list %></td>
          </div>
          <% if @rhetoric.user == current_user %>
          <div class="edit-and-delete-rhetoric">
            <%= link_to "編集する", edit_rhetoric_path %>
            <%= link_to "削除する", rhetoric_path, method: :delete, data: {confirm: "Are you sure??"} %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="rhetorics-comments-grid">
      <h5>コメント</h5>
      <div class="comments">
        <div id="comments_area"><!-- #① -->
          <!-- 投稿されたコメント一覧をブログの詳細ページに表示するためのrender -->
          <%= render partial: 'comments/index', locals: { comments: @comments } %>
        </div>
          <div class="comment-input">
          <!-- コメント入力欄をブログの詳細ページに表示するためのrender -->
          <%= render partial: 'comments/form', locals: { comment: @comment, rhetoric: @rhetoric } %>
          </div>
      </div>
    </div>

  </div>

  <div class="related-index-message">
    <h4>関連する言葉</h4>
  </div>

  <div class="container-related-index">
    <div id="masonry-container">
      <% @related_rhetorics.each do |rhetoric| %>
        <div class="mas-box rheotorics-grid">
          <div class="rhetoric-index-container">
            <div class="rhetoric-index-img" id="result">
              <%= link_to rhetoric do %>
                <div class="rhetoric-container index">

                  <% if rhetoric.picture? %>
                    <%= image_tag rhetoric.picture.url %>
                  <% end %>

                  <div class="rhetoric-meigen index">
                    <%= rhetoric.meigen %>
                  </div></br>
                  <div class="rhetoric-speaker index">
                    <%= rhetoric.speaker %>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="btn-area-like-index">

              <div class="picks_buttons_index_<%= rhetoric.id %> indexPick">
                <span class="pick">
                  <div class="count-like index">
                    <%= rhetoric.picks_count %>
                  </div>
                  
                  <% if rhetoric.pick?(current_user) %>
                    <%= form_for(rhetoric.picks.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
                      <%= button_tag(class: "btn-liked-index") do %>
                        <%= content_tag :span, "", class: "fas fa-heart my-liked-index fa-lg" %>
                      <% end %>
                    <% end %>
                  <% else %>
                    <%= form_for(rhetoric.picks.build, remote: true) do |f| %>
                      <div><%= hidden_field_tag :rhetoric_id, rhetoric.id %></div>
                      <%= button_tag(class: "btn-like-index") do %>
                        <%= content_tag :span, "", class: "far fa-heart my-like-index fa-lg" %>
                      <% end %>
                    <% end %>
                  <% end %>

                  

                </span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
    
</div>

<%= link_to new_rhetoric_path do %>
<div class="rhetoric-new-btn">
  <%= image_tag ('new_btn.png') %>
</div>
<% end %>