<%= @rhetoric.title %>

<%= @rhetoric.meigen %>

<p><%= @rhetoric.description %></p>

<%= link_to "Back", root_path %>
<%= link_to "Delete", rhetoric_path, method: :delete, data: {confirm: "Are you sure??"} %>