<% assign_meta_tags title: ''%>

<header>
  <div class="header">
    <div class="header-left">
      <%= link_to root_path do %>
      <div class="header-logo">
        <%= image_tag "logo_symbol.png" %>
      </div>
      <% end %>
    </div>

    <li>
        <div class="header-profile">
            <% if user_signed_in? %>
            <%= link_to profile_path(current_user) do %>
            <div class="header-profile-img">
                <%= image_tag current_user.picture.url %>
            </div>
            <% end %>
            <% else %>
            <%= link_to new_user_session_path do %>
                <div class="header-profile-img">
                <%= image_tag ('default.png') %>
                </div>
            <% end %>
            <% end %>
        </div>
      <div class="navToggle">
        <span></span><span></span><span></span>
      </div>
    </li>

    <nav class="globalMenuSp">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to edit_user_registration_path do %><div class="globalMenuList"><p>アカウント設定</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><div class="globalMenuList"><p>ログアウト</p></div><% end %></li>
        <% else %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to new_user_registration_path do %><div class="globalMenuList"><p>アカウント作成</p></div><% end %></li>
          <li><%= link_to new_user_session_path do %><div class="globalMenuList"><p>ログイン</p></div><% end %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="main about">
    <div class="container about">
        <div class="row top">
            <div class="col-xs-12 top">
                <div class="logo-side">
                    <%= image_tag 'logo_side.png' %>
                </div>
                <h6>世界中のステキな言葉が集まる名言共有サイト</h6>
            </div>
        </div>

        <div class="row message">
            <div class="col-xs-12 question">
                <h2>「 何の為に生きるの？ 」</h2>
                <h2>「 愛するってなんだろう？ 」</h2>
                <h2>「 私の夢はどうすれば叶うの？ 」</h2>
            </div>
            <div class="col-xs-12 conceptMessage">
                <h4>今日まで人類は色んな悩みを抱えて生きてきた。そして悩み抜いた結果、多くの名言が生まれた。今あなたが悩んでいることは誰かも同じように悩んできたことかも！</h4>
            </div>
        </div>

        <div class="row canDo">
            <div class="canDoMessage">
                <h4>Quoteでできること</h4>
            </div>
            <div class="col-sm-4 canDo">
                <div class="canDo-container">
                    <div class="canDo-num">
                        <p>01</p>
                    </div>
                    <div class="canDo-title">
                        <h3>あなたにぴったりの<br>言葉が見つかる</h3>
                    </div>
                    <div class="canDo-discription">
                        <p>ジャンル検索を使えば、あなたの今の気分にぴったりの名言が見つかる！<br>好きな漫画やアニメ、哲学者からも探すことができます。</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="canDo-container">
                    <div class="canDo-num">
                        <p>02</p>
                    </div>
                    <div class="canDo-title">
                        <h3>あなただけの名言集になる</h3>
                    </div>
                    <div class="canDo-discription">
                        <p>心に響いた名言は「いいね」することでマイページに追加されていきます。あなたの好きな言葉だけの名言集ができあがります！</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="canDo-container">
                    <div class="canDo-num">
                        <p>03</p>
                    </div>
                    <div class="canDo-title">
                        <h3>あなたのQuoteで<br>誰かの心を救おう</h3>
                    </div>
                    <div class="canDo-discription">
                        <p>あなたの知っている誰かのステキな言葉を引用して投稿することで、悩んでいる誰かを助けられるかも。好きな名言をみんなに教えてあげよう！</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row login">
            <% if user_signed_in? %>
                <div class="col-xs-12 conceptMessage">
                    <h4>今やる気が欲しいあなた、生きるのに少し疲れたあなた、そんなあなたにぴったりの言葉が待っています。ジャンル検索をしてみましょう ! </h4>
                </div>
                <div class="col-xs-12 login">                
                    <div class="rowBtn">
                    <%= link_to root_path do %>
                        <div class="signUpBtn">
                            <h6>検索する ! </h6>
                        </div>
                    <% end %>
                    </div>
                </div>
            <% else %>
                <div class="col-xs-12 conceptMessage">
                    <h4>今やる気が欲しいあなた、生きるのに少し疲れたあなた、そんなあなたにぴったりの言葉が待っています。まずはアカウント作成から ! </h4>
                </div>
                <div class="col-xs-12 login">                
                    <div class="rowBtn">
                    <%= link_to new_user_registration_path do %>
                        <div class="signUpBtn">
                            <h6>アカウント作成</h6>
                        </div>
                    <% end %>
                    </div>
                </div>
            <% end %>
        </div>

        <div class="row c">
            <p>©︎ 2019 Quote</p>
        </div>



        

        
    </div>
</div>