<% assign_meta_tags title: ''%>

<header>
  <div class="header">
    <div class="header-left">
      <%= link_to root_path do %>
      <div class="header-logo">
        <%= image_tag "logo_symbol.png" %>
      </div>
      <% end %>
    </div>

    <div class="header-search">
      <div class="search-icon">
        <i class="fa fa-search fa-lg my-search"></i>
      </div>

      <div class="search-input" id="#search-form">
        <%= search_form_for @q, url: rhetorics_path  do |f| %>
          <%= f.search_field :meigen_or_tags_name_cont, placeholder: '検索', autocomplete: 'off' %>
          <%= f.submit '検索' %>
          <% end %>
      </div>
    </div>    

    <li>
      <div class="navToggle">
        <span></span><span></span><span></span>
      </div>
    </li>

    <nav class="globalMenuSp">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to edit_user_registration_path do %><div class="globalMenuList"><p>アカウント設定</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><div class="globalMenuList"><p>ログアウト</p></div><% end %></li>
        <% else %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to new_user_registration_path do %><div class="globalMenuList"><p>アカウント作成</p></div><% end %></li>
          <li><%= link_to new_user_session_path do %><div class="globalMenuList"><p>ログイン</p></div><% end %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<%= link_to new_rhetoric_path do %>
  <div class="rhetoric-new-btn">
    <%= image_tag ('new_btn.png') %>
  </div>
<% end %>
  
<div class="main genre-search">
  <div class="container genre-search">
    <div class="genre-title">
      <h3>今人気のタグ</h3>
    </div>
    <ul class="genre-list">
      <% @top_hash.each do |tag, picture| %>
        <%= link_to rhetorics_path(tag_name: tag) do %>
        <li class="genre-container">
          <div class="genre-image">
            <%= image_tag picture.url %>
          </div>
          <div class="genre-name">
            <%= "#{tag}" %>
          </div>
          <div class="genre-count">
            <p></p>
          </div>
        </li>
        <% end %>
      <% end %>
    </ul>


<!--    <div class="genre-title">-->
<!--      <h3>漫画・アニメの名言</h3>-->
<!--    </div>-->
<!--    <ul class="genre-list">-->
      <%# @anime_hash.each do |tag, picture| %>
        <%#= link_to rhetorics_path(tag_name: tag) do %>
<!--        <li class="genre-container">-->
<!--          <div class="genre-image">-->
            <%#= image_tag picture.url %>
<!--          </div>-->
<!--          <div class="genre-name">-->
            <%#= "#{tag}" %>
<!--          </div>-->
<!--          <div class="genre-count">-->
<!--            <p></p>-->
<!--          </div>-->
<!--        </li>-->
        <%# end %>
      <%# end %>
<!--    </ul>-->

<!--    <div class="genre-title">-->
<!--      <h3>哲学者の名言</h3>-->
<!--    </div>-->
<!--    <ul class="genre-list">-->
      <%# @philosopher_hash.each do |tag, picture| %>
        <%#= link_to rhetorics_path(tag_name: tag) do %>
<!--        <li class="genre-container">-->
<!--          <div class="genre-image">-->
            <%#= image_tag picture.url %>
<!--          </div>-->
<!--          <div class="genre-name">-->
            <%#= "#{tag}" %>
<!--          </div>-->
<!--          <div class="genre-count">-->
<!--            <p></p>-->
<!--          </div>-->
<!--        </li>-->
        <%# end %>
      <%# end %>
<!--    </ul>-->

  </div>
</div>