<% assign_meta_tags title: ''%>

<header>
  <div class="header">
    <div class="header-left">
      <%= link_to root_path do %>
      <div class="header-logo">
        <%= image_tag "logo_symbol.png" %>
      </div>
      <% end %>
    </div>

    <div class="header-search">
      <div class="search-icon">
        <%= image_tag "search.png" %>
      </div>

      <div class="search-input" id="#search-form">
        <%= search_form_for @q, url: rhetorics_path  do |f| %>
          <%= f.search_field :meigen_or_tags_name_cont, placeholder: '検索', autocomplete: 'off' %>
          <%= f.submit '検索' %>
          <% end %>
      </div>
    </div>    

    <li>
      <div class="header-profile">
        <% if user_signed_in? %>
        <%= link_to profile_path(current_user) do %>
          <div class="header-profile-img">
            <%= image_tag current_user.picture.url %>
          </div>
        <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <div class="header-profile-img">
              <%= image_tag ('default.png') %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="navToggle">
        <span></span><span></span><span></span>
      </div>
    </li>

    <nav class="globalMenuSp">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to edit_user_registration_path do %><div class="globalMenuList"><p>アカウント設定</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><div class="globalMenuList"><p>ログアウト</p></div><% end %></li>
        <% else %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to new_user_registration_path do %><div class="globalMenuList"><p>アカウント作成</p></div><% end %></li>
          <li><%= link_to new_user_session_path do %><div class="globalMenuList"><p>ログイン</p></div><% end %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<%= link_to new_rhetoric_path do %>
  <div class="rhetoric-new-btn">
    <%= image_tag ('new_btn.png') %>
  </div>
<% end %>
  
<div class="background bg-top bg-grey">
  <section class="top-fv">
    <%= image_tag ('quote-fv-pc.png'), class: "fv-bg-pc" %>
    <%= image_tag ('quote-fv-sp.png'), class: "fv-bg-sp" %>
      <div class="top-fv-copy">
        <%= image_tag ('logo_side_white.png'), class: 'fv-logo' %><br>
        <h3>世界中のステキな言葉が集まる<br class="br-sp">名言共有サイト</h3>      
      </div>
  </section>

  <section class="genre">
    <div class="genre-container">
      <h2 class="genre-title">
        今人気のタグ
      </h2>
      <ul class="genre-list">
        <% @top_hash.each do |tag, picture| %>
          <%= link_to rhetorics_path(tag_name: tag) do %>
          <li class="genre-item">
            <div class="genre-item-image">
              <%= image_tag picture.url %>
            </div>
            <div class="genre-item-name">
              <%= "#{tag}" %>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="genre-container">
      <h2 class="genre-title">
        みんなが救われた言葉
      </h2>
      <ul class="genre-list">
        <% @saved_hash.each do |tag, picture| %>
          <%= link_to rhetorics_path(tag_name: tag) do %>
            <li class="genre-item">
              <div class="genre-item-image">
                <%= image_tag picture.url %>
              </div>
              <div class="genre-item-name">
                <%= "#{tag}" %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="genre-container">
      <h2 class="genre-title">
        起業・ビジネスの言葉
      </h2>
      <ul class="genre-list">
        <% @entrepreneur_hash.each do |tag, picture| %>
          <%= link_to rhetorics_path(tag_name: tag) do %>
            <li class="genre-item">
              <div class="genre-item-image">
                <%= image_tag picture.url %>
              </div>
              <div class="genre-item-name">
                <%= "#{tag}" %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="genre-container">
      <h2 class="genre-title">
        漫画・アニメの名言
      </h2>
      <ul class="genre-list">
        <% @anime_hash.each do |tag, picture| %>
          <%= link_to rhetorics_path(tag_name: tag) do %>
          <li class="genre-item">
            <div class="genre-item-image">
              <%= image_tag picture.url %>
            </div>
            <div class="genre-item-name">
              <%= "#{tag}" %>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="genre-container">
      <h2 class="genre-title">
        哲学者の名言
      </h2>
      <ul class="genre-list">
        <% @philosopher_hash.each do |tag, picture| %>
          <%= link_to rhetorics_path(tag_name: tag) do %>
          <li class="genre-item">
            <div class="genre-item-image">
              <%= image_tag picture.url %>
            </div>
            <div class="genre-item-name">
              <%= "#{tag}" %>
            </div>
          </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <div class="genre-container">
      <h2 class="genre-title">
        小説・文豪の名言
      </h2>
      <ul class="genre-list">
        <% @great_writer_hash.each do |tag, picture| %>
          <%= link_to rhetorics_path(tag_name: tag) do %>
            <li class="genre-item">
              <div class="genre-item-image">
                <%= image_tag picture.url %>
              </div>
              <div class="genre-item-name">
                <%= "#{tag}" %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </section>
</div>