<% assign_meta_tags title: 'ログイン'%>

<div class="main registration">
  <div class="container">
    <div class="signup-signin-message">
      <h1 class="text-center">Quoteへようこそ</h1>
      <h4 class="text-center">ログインしてあなたの好きな言葉を集めましょう</h4>
    </div>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-body">
      <div class="snsLogin">
        <div class="snsLoginMessage title-border">
          <p>SNSでログインする</p>
        </div>
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to omniauth_authorize_path(resource_name, provider) do %>
              <div class="snsLoginBtn">
                <div class="snsLoginImg">
                  <i class="fab fa-twitter fa-lg"></i>
                </div>
                <p>
                  <%= OmniAuth::Utils.camelize(provider) %>で登録する
                </p>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <div class="form-inputs">
        <div class="formMessage title-border">
          <p>メールアドレスでログインする</p>
        </div>
        <div class="form-inputs-text">
          <div class="form-box">
            <div class="form-outline">
            　<div class="form-icon">
                <i class="fas fa-envelope fa-lg my-email"></i>
              </div>
              <%= f.input :email,
                          required: false,
                          :placeholder => "メールアドレス",
                          label: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
            </div>
          </div>
          <div class="form-box">
            <div class="form-outline">
            　<div class="form-icon">
                <i class="fas fa-key fa-lg my-password"></i>
              </div>
              <%= f.input :password,
                          required: false,
                          :placeholder => "パスワード",
                          label: false,
                          input_html: { autocomplete: "current-password" } %>
            </div>
          </div>
        </div>
        <div class="remember_me">
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "ログインする" %>
      </div>


<% end %>

      <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <%= link_to "アカウント作成", new_registration_path(resource_name) %><br />
      <% end %>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <%= link_to "パスワードをお忘れですか？", new_password_path(resource_name) %><br />
      <% end %>
      
    </div>
  </div>
</div>