<header>
  <div class="header">
    <div class="header-left">
      <%= link_to root_path do %>
      <div class="header-logo">
        <%= image_tag "logo_symbol.png" %>
      </div>
      <% end %>
    </div>

    <li>
      <div class="navToggle">
        <span></span><span></span><span></span>
      </div>
    </li>

    <nav class="globalMenuSp">
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to edit_user_registration_path do %><div class="globalMenuList"><p>アカウント設定</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to destroy_user_session_path, method: :delete do %><div class="globalMenuList"><p>ログアウト</p></div><% end %></li>
        <% else %>
          <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
          <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
          <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
          <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
          <li><%= link_to new_user_registration_path do %><div class="globalMenuList"><p>アカウント作成</p></div><% end %></li>
          <li><%= link_to new_user_session_path do %><div class="globalMenuList"><p>ログイン</p></div><% end %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<div class="main inquiry">
    <div class="container inquiry">
    
        <div class="inquiry-grid message">
            <div class="inquiry-message">
                <h2>お問い合わせ</h2>
                <h5>Quoteをご利用いただきありがとうございます。<br>お問い合わせには48時間以内に返信いたします。</h5>
            </div>
        </div>

        <div class="inquiry-grid">
            <%= form_for(@inquiry, url: { action: :confirm }) do |f| %>
                <div class="form-body">                
                    <% if @inquiry.errors.present? %>
                    <div>
                        <strong>入力内容にエラーがあります</strong>
                        <ul>
                        <% @inquiry.errors.each do |attr, error| %>
                            <li><%= error %></li>
                        <% end %>
                        </ul>
                    </div>
                    <% end %>
    
                    <div class="form-inputs name">
                        <strong>名前</strong>
                        <div class="form-outline">
                            <%= f.text_field :name, placeholder: '例 : アルベルト・アインシュタイン' %>
                        </div>
                    </div>
                    <div class="form-inputs email">
                        <strong>メールアドレス</strong>
                        <div class="form-outline">
                            <%= f.text_field :email, placeholder: '例 : theory.of.relativity@quote.jp' %>
                        </div>
                    </div>
                    <div class="form-inputs contact">
                        <strong>お問い合わせ内容</strong>
                        <div class="textarea-outline inquiry">
                            <%= f.text_area :content, placeholder: 'お問い合わせ内容' %>
                        </div>
                    </div>

                    <div class="form-actions">
                        <%= f.submit '確認画面へ' %>
                    </div>
                </div>
            <% end %>
        </div>

    </div>
</div>

