<!DOCTYPE html>
<html>
<head>
  <title>Quote</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://kit.fontawesome.com/1471aca7cc.js"></script>
</head>

<body>

<header>
  <div class="header">
    <div class="header-logo">
      <%= link_to 'Quote', root_path %>
    </div>
    <% if user_signed_in? %>
      <div class="header-search">
        <div class="search-icon">
          <i class="fa fa-search fa-lg my-search"></i>
        </div>

        <div class="search-input" id="#search-form">
          <%= search_form_for @q, url: rhetorics_path  do |f| %>
            <%= f.search_field :meigen_or_tags_name_or_speakers_name_cont, placeholder: '検索' %>
            <%= f.submit '検索' %>
            <% end %>
        </div>

      </div>
    <% end %>
    <ul class="header-right">
      <li>
        <%= link_to profile_path(current_user) do %>
          <div class="userProfileImage">
            <% if current_user.picture? %>
              <%= image_tag current_user.picture.url %>
            <% else %>
              <%= image_tag("/images/default") %>
            <% end %>
          </div>
        <% end %>
      </li>

      <li>
        <%= link_to profile_path(current_user) do %>
          <div class="userProfileName">
            <%= current_user.username %>
          </div>
        <% end %>
      </li>

      <li>
        <div class="navToggle">
          <span></span><span></span><span></span>
        </div>
      </li>

        <nav class="globalMenuSp">
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to 'Quoteとは', about_path %></li>
              <li><%= link_to 'アカウント設定', edit_user_registration_path %></li>
              <li><%= link_to 'お問い合わせ', inquiry_path %></li>
              <li><%= link_to '利用規約・プライバシー', '/privacy-policy' %></li>
              <li><%= link_to "新しい言葉を追加", new_rhetoric_path %></li>
              <li> <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to 'Quoteとは', about_path %></li>
              <li><%= link_to 'お問い合わせ', inquiry_path %></li>
              <li>利用規約</li>
              <li><%= link_to 'アカウント作成', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </ul>
  </div>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>