<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag('favicon.ico') %>
  <%= favicon_link_tag('apple-touch-icon-180x180.png',
                      {:rel => 'apple-touch-icon',
                        :sizes => '180x180',
                        :type => 'image/png'}) %>
  <meta name="theme-color" content="#1a2023">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= show_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="https://kit.fontawesome.com/1471aca7cc.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"></script>
</head>

<body>

<header>

  <div class="header">
    <div class="header-left">
      <%= link_to root_path do %>
      <div class="header-logo">
        <%= image_tag "logo_symbol.png" %>
      </div>
      <% end %>
    </div>
      <div class="header-search">
        <div class="search-icon">
          <i class="fa fa-search fa-lg my-search"></i>
        </div>

        <div class="search-input" id="#search-form">
          <%= search_form_for @q, url: rhetorics_path  do |f| %>
            <%= f.search_field :meigen_or_tags_name_cont, placeholder: '検索' %>
            <%= f.submit '検索' %>
            <% end %>
        </div>

      </div>    

      <li>
        <div class="navToggle">
          <span></span><span></span><span></span>
        </div>
      </li>

        <nav class="globalMenuSp">
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
              <li><%= link_to edit_user_registration_path do %><div class="globalMenuList"><p>アカウント設定</p></div><% end %></li>
              <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
              <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
              <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
              <li><%= link_to destroy_user_session_path, method: :delete do %><div class="globalMenuList"><p>ログアウト</p></div><% end %></li>
            <% else %>
              <li><%= link_to about_path do %><div class="globalMenuList"><p>Quoteとは</p></div><% end %></li>
              <li><%= link_to inquiry_path do %><div class="globalMenuList"><p>お問い合わせ</p></div><% end %></li>
              <li><%= link_to '/terms' do %><div class="globalMenuList"><p>利用規約</p></div><% end %></li>
              <li><%= link_to '/privacy-policy' do %><div class="globalMenuList"><p>プライバシーポリシー</p></div><% end %></li>
              <li><%= link_to new_user_registration_path do %><div class="globalMenuList"><p>アカウント作成</p></div><% end %></li>
              <li><%= link_to new_user_session_path do %><div class="globalMenuList"><p>ログイン</p></div><% end %></li>
            <% end %>
          </ul>
        </nav>
      </ul>

    </div>

  </nav>

</header>

<sidebar>
  <div class="sidebar">
    <div class="sidebar-contents">
      <%= link_to root_path do %>
        <div class="sidebar-content">
          <i class="fas fa-home fa-lg my-home"></i>
        </div>
      <% end %>
      <%= link_to genre_path do %>
        <div class="sidebar-content">
          <i class="fas fa-search fa-lg my-search-sidebar"></i>
        </div>
      <% end %>
      <% if user_signed_in? %>
        <%= link_to profile_path(current_user) do %>
          <div class="sidebar-content">
            <div class="sidebarProfileImage">
              <%= image_tag current_user.picture.url %>
            </div>
          </div>
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <div class="sidebar-content">
            <div class="sidebarProfileImage">
              <%= image_tag ('default.png') %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</sidebar>

<footer>
  <div class="footer">
    <div class="footer-content">
    <%= link_to root_path do %>
      <div class="footer-logo">
        <%= image_tag "logo_symbol.png" %>
      </div>
      <div class="footer-content-name">
        ホーム
      </div>
    <% end %>
    </div>
    
    <% if user_signed_in? %>
    <div class="footer-content">
      <%= link_to profile_path(current_user) do %>
        <div class="footer-userProfileImage">
          <%= image_tag current_user.picture.url %>
        </div>
        <div class="footer-content-name">
          マイページ
        </div>
      <% end %>
    </div>
    <% else %>
    <div class="footer-content">
      <%= link_to new_user_session_path do %>
        <div class="footer-userProfileImage">
          <%= image_tag ('default.png') %>
        </div>
        <div class="footer-content-name">
          マイページ
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</footer>

<% if flash[:notice] %>
  <div class="notice-message">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert-message">
    <%= flash[:alert] %>
  </div>
<% end %>

<% if !user_signed_in? %>
  <div class="require-login">
    <p>ログインが必要です</p>
  </div>
<% end %>

<div id="rhetoric-search-result"></div>

<%= yield %>

</body>
</html>