<!DOCTYPE html>
<html>
<head>
  <title>Quote</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<header>
  <div class="header">
      <div class="header-logo">
        <%= link_to 'Quote', root_path %>
      </div>

      <div class="header-search">
        <%= form_tag(rhetorics_path, :method => 'get') do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search" , :name => nil %>
        <% end %>

      </div>

      <ul class="header-right">
        <div class="navToggle">
          <span></span><span></span><span></span>
        </div>
        <nav class="globalMenuSp">
          <ul>
            <% if user_signed_in? %>
              <li>Quoteとは</li>
              <li><%= link_to 'アカウント設定', user_path(current_user) %></li>
              <li>お問い合わせ</li>
              <li>利用規約・プライバシー</li>
              <li><%= link_to "新しい言葉を追加", new_rhetoric_path %></li>
              <li> <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li>Quoteとは</li>
              <li>お問い合わせ</li>
              <li>利用規約</li>
              <li><%= link_to 'アカウント作成', new_user_registration_path %></li>
              <li><%= link_to 'ログイン', new_user_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </ul>
  </div>
</header>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>